{% extends 'base.html' %}

{% block title %}
    <title>编程技术</title>
{% endblock title %}

{% block content %}
    <div class="page_header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 col-xs-12 col-lg-offset-2 col-md-offset-1 col-xs-offset-0 text-center">
                    <h3 class="understanding_fonts"> 生命在于折腾，生命不息，折腾不止。</br><small>Life lies in tossing and tossing. Life goes on and on.</small></h3>
                    <h2 class="max_title">编程技术</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
