.haha {
        display: none;

    }
.haha1 {
        display: none;
    }

    @media only screen and (max-width: 500px) {
    .haha1 {
        display: block;
    }
}


/*@media (max-width:760px) {*/
    /*.haha {*/
        /*display: none;*/

    /*}*/

    /*.haha1 {*/
        /*display: block;*/
    /*}*/
/*}}*/


