{% extends 'base.html' %}
{% load static %}

{% block title %}<title>修改密码</title>{% endblock title %}
        
{% block content %}
    <div class="login_content clearfix">

        <div class="container-fluid container clearfix">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-8 col-xs-12 col-lg-offset-3 col-md-offset-2 col-xs-offset-0">

                    <div class="login_register clearfix">
                        <form class="form-horizontal" action="" method="post">

                            {% csrf_token %}
                            <fieldset>
                                <div id="legend" class="">
                                    <legend class="text-center">修改密码</legend>
                                </div>
                                <div class="control-group form_each">
                                    <div class="controls" >
                                        <input type="text" id="user_name"  name="username" placeholder="用户名或手机号" class="form-control">
                                        <span class="error_tip" id="username_error"></span>
                                    </div>
                                </div>
                                <div class="control-group form_each">
                                    <div class="controls password">
                                        <input type="password" id="password" name="password" placeholder="当前密码" class="form-control">
                                        <span class="error_tip" id="password_error"></span>
                                    </div>
                                </div>
                                <div class="control-group form_each">
                                    <div class="controls password">
                                        <input type="password" id="new_password" name="new_password" placeholder="新的密码" class="form-control">
                                        <span class="error_tip" id="new_password_error"></span>
                                    </div>
                                </div>

                                <div class="control-group form_each">
                                    <div class="controls login_user">
                                        <button type="submit" class="btn btn-primary form-control">确认修改</button>
                                    </div>
                                </div>
                                <div class="control-group form_each">
                                    <div class="pass-reglink login_switch">还没有我的音乐账号？<a class="switch" href="javascript:;">免费注册</a></div>
                                </div>
                            </fieldset>
                        </form>
                    </div>


                </div>
            </div>
        </div>


    </div>

{% endblock content %}

{% block script %}
<script>

$(function () {

  // 验证正则
  var regPhone = /^1[34578]\d{9}$/;      //验证手机号格式正则
  var regUser = /^\w{3,16}$/;        //验证用户名格式正则
  var regPwd = /^[\w!@#$%^&*()]{4,16}$/;     //验证密码格式正则

  // 登录框对象
  var userName = $('#user_name');
  var password = $('#password');
  var newPassword = $('#new_password');
  var userNameError = $('#username_error');
  var passwordError = $('#password_error');
  var newPasswordError = $('#new_password_error')



  userName.on('blur', function () {
    detect(regUser, $(this).val(), '请输入正确的用户名或手机号','请输入用户名或手机号',userNameError);
  });

  password.on('blur', function () {
     detect(regPwd, $(this).val(), '密码必须是4-16位字母数字或符号', '请输入密码', passwordError);
  });


  newPassword.on('blur', function () {
      if($(this).val() == idPassword1.val()){
        newPasswordError.text('新密码不能跟原始相同!').show();
      }else {
        newPasswordError.empty().hide();
      }
  });

  // 检测输入内容
  function detect(regexp,val,text,air,tip){
    if(val.trim() == ''){
      tip.text(air).show();
      return false;
    }else if(!regexp.test(val)){
      tip.text(text).show();
      return false;
    }else{
      tip.hide();
      return true;//user_login?userid=xxx&pwd=xx&remember_me=T
    }
  }

});

</script>
{% endblock script %}